@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  background: black;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
header{
  backdrop-filter: blur(10px);
}
/* In globals.css */
html, body {
  overflow-x: hidden;
  max-width: 100vw;
}

.form label, .form input,.form label span {
    color: white !important;
}